// app global css in SCSS form
.q-dialog {
    z-index: 10000;
}
.q-menu {
    z-index: 10000;
}

.small-card table {
    table-layout: fixed;
    width: 100%;
}

.small-card table td {
    overflow: hidden;
}